services:
    web:
        image: codeberg.org/hkau/entry:latest
        restart: unless-stopped
        ports:
            - "8080:8080" # match this (both sides) with your values from env.port
        environment:
            PORT: "8080" # optional, 8080 is default
            NAME: "Entry" # optional, Entry is default
            ADMIN_PASSWORD: "supersecretpassword" # !!!CHANGE THIS!!! (required)
            DATA_LOCATION: ":cwd/data" # optional, :cwd/data is default, only used during first setup
            #                            edit within config file, this value is only used to prefill the value in config.json
            CONFIG_LOCATION: ":cwd/data/config.json" # optional, :cwd/data/config.json is default
